body {
	color: #2b2b2b;
	padding-top: 80px;
	box-sizing: border-box;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
/*顶部nav*/
.top-nav {
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 2;
	position: fixed;
	opacity: 0.9;
	filter: alpha(opacity=90);
	font-size: 18px;
	overflow: hidden;
	height: 80px;
	line-height: 80px;
	background-color: #fff;
	font-size: 18px;
}
.top-nav a {
	display: block;
	padding: 0 27px;
}
.top-nav .logo{
	margin-top: 20px;
}
.top-nav ul {
	margin-top: 20px;
}
.top-nav .top-left-nav {
	margin-left: 30px;
}
.top-nav li {
	border-radius: 40px;
	cursor: pointer;
	line-height: 40px;
	float: left;
}
.top-nav li.active {
	background-color: #da0000;
	color: #fff;
}

.footer {
	line-height: 76px;
	background-color: #252525;
	color: #616161;
	text-align: center;
}


.banner {
	font-size: 0;
}

.main-wrap {
	
}
.left-nav {
	margin-top: 20px;
	width: 246px;
	float: left;
}
.left-nav-fixed {
	position: fixed;
}
.left-nav h2 {
	font-size: 24px;
	padding-left: 27px;
	line-height: 70px;
}
.left-nav li {
	cursor: pointer;
	font-size: 18px;
	box-sizing: border-box;
	padding-left: 27px;
	line-height: 60px;
}
.left-nav li.active {
	background-color: #f2f2f2;
	border-left: 4px solid #da0000;
}

.main-content {
	margin-left: 275px;
}

.main-content h2 {
	font-size: 24px;
	padding-top: 37px;
	padding-bottom: 17px; 
	border-bottom: 1px solid #999;
}
.main-content h3 {
	padding-left: 32px;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 16px;
	background-position: left center;
	background-repeat: no-repeat;
}
.main-content p{
	line-height: 23px;
}



.font16 {
	font-size: 16px;
}
.font18 {
	font-size: 18px;
}

/*回到顶部按钮*/
.go-top {
	position: fixed;
	width: 30px;
	text-align: center;
	height: 15px;
	padding: 5px;
	background-color: #fff;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	cursor: pointer;
	display: none;
	border: 1px solid #333;
}

.layer {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	z-index: 1;
	display: none;
	opacity: 0;
}
.down-load-img {
	width: 250px;
	height: 250px;
	display: none;
	opacity: 0;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 3;
}