.left-nav {
	border: 1px solid #c7c7c7;
}
.banner {
	background-color: #e98922;
}
.main-content .student {
	background-image: url(../images/about-us/student.png);
}
.main-content .compus {
	background-image: url(../images/about-us/compus.png);
}
.main-content .quick {
	background-image: url(../images/about-us/quick.png);
}

.margin-bottom {
	margin-bottom: 30px;
}
.img-wrapper {
	margin-top: 10px;
}
.img-wrapper img {
	width: 100%;
}

.cooperation img{
	width: 240px;
	height: 140px;
	margin-right: 18px;
}
.cooperation li {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 23px;
}
.cooperation li:last-child {
	margin-bottom: 0;
}

.map-wrapper {
	margin-top: 10px;
	height: 360px;
	margin-bottom: 100px;
}